{% extends _layout %}

{% block head %}
    <script type="text/javascript" src="/js/stats.js"></script>
{% endblock %}

{% block content %}
<table class="stats">
	<thead>
		<tr>
			<th colspan="2">
				<p>Aujourd'hui</p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Temps Passé&nbsp;:</td>
			<td>{{stats.time_spent}}</td>
		</tr>
		<tr>
			<td>Temps Restant&nbsp;:</td>
			<td>{{stats.time_left}}</td>
		</tr>
		<tr>
			<td>Heure de fin&nbsp;:</td>
			<td>{{stats.end_time}}</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th colspan="2">
				<p>Statistiques du mois</p>
				<div>
					<a class="multi-button">Jour</a><!-- whitespace
				 --><a class="multi-button">Semaine</a><!-- whitespace
				 --><a class="multi-button active">Mois</a>
				</div>
			</th>
		</tr>
	</thead>
	
	{% for period_name, period in stats.periods %}
		<tbody class="{{ period_name }} period">
			<tr>
				<td>Heures sup&nbsp;:</td>
				<td>{{period.overtime}}</td>
			</tr>
			<tr>
				<td>Temps total passé&nbsp;:</td>
				<td>{{period.total_time_spent}}</td>
			</tr>
			<tr>
				<td>Jours travaillés&nbsp;:</td>
				<td>{{period.days_worked}}</td>
			</tr>
		</tbody>
	{% endfor %}
	
</table>
{% endblock %}
