{% extends _layout %}
{% block content %}
<table class="stats">
	<tr>
		<td colspan="2">Aujourd'hui</td>
	</tr>
    <tr>
        <td>Temps Passé&nbsp;:</td>
        <td>{{stats.time_spent}}</td>
    </tr>
    <tr>
        <td>Temps Restant&nbsp;:</td>
        <td>{{stats.time_left}}</td>
    </tr>
    <tr>
        <td>Heure de fin&nbsp;:</td>
        <td>{{stats.end_time}}</td>
    </tr>
	<tr>
		<td colspan="2">Heures supplémentaires</td>
	</tr>
    <tr>
        <td>Temps total passé&nbsp;:</td>
        <td>{{stats.total_time_spent}}</td>
    </tr>
    <tr>
        <td>Jours travaillés&nbsp;:</td>
        <td>{{stats.days_worked}}</td>
    </tr>
    <tr>
        <td>Heures sup&nbsp;:</td>
        <td>{{stats.overtime}}</td>
    </tr>
</table>
{% endblock %}
